
input, text, button, form {
    width: 400px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid green;
}

input[type="submit"] {
    font-family: Georgia, serif;
    background-color: #FFFFFF;
    color: #555555;
    border: 2px solid #266D12;
    border-radius: 4px;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 60%;
    text-decoration: none;

}

input[type="submit"]:hover {
    background-color: #318A17;
    color: #FFFFFF;
    text-decoration: none;
}

h2 {
    font-family: Georgia, serif;
}