body, html {
    height: 100%;
}

.bg {
    height: 100%;
    background: url(../bg/IRSHDCprog.jpg) no-repeat center;
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    left: 0;
    right: 0;
}

.buttons {
    background: #FFFFFF;
    border: 2px solid #266D12;
    border-radius: 4px;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 5px;
}

.button {
    font-family: Georgia, serif;
    background-color: #FFFFFF;
    color: #555555;
    border: 2px solid #266D12;
    border-radius: 4px;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 35%;
    text-decoration: none;

}

.button:hover {
    background-color: #318A17;
    color: #FFFFFF;
    text-decoration: none;
}

.content {
    position: fixed;
    top: 18%;
    left: 0;
    right: 0;
    margin: auto;
}

p {
    font-family: Georgia, serif;
    text-align: left;

}

h1 {
    font-size: 60px;
    font-family: 'Cinzel Decorative', Georgia, serif;
    color: #fff;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h6 {
    font-size: 40px;
    color: #004d00;
    font-family: 'Cinzel Decorative', Georgia, serif;
}

a {
    font-family: Georgia, serif;
    height: line-height;
    text-decoration: none;
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

#search {
    height: 35px;
}

#search2 {
    height: 35px;
}

#search3 {
    height: 35px;
}

#submit {
    height: 45px;
    text-align: center;
}

#submit:hover {
    background-color: #318A17;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    height: 45px;
}

select {
    font-family: Georgia, serif;
    display: inline-block;
    width: 100%;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th, tr, td {
    height: 35px;
    width: 12%;
    text-align: left;
}

tr:hover {
    background-color: #dcdcdc;
}

#form1 {
    float: left;
    margin-left: 120px;
}

#form2 {
    float: left;
    margin-left: 100px;
    padding: 20px;
}